*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Poppins,sans-serif;
    background:#fff;

}

img{

    width:100%;
    display:block;

}

a{

    text-decoration:none;
    color:#333;

}

/* ================= NAVBAR ================= */

.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;

}

.logo h1{

    color:#f1641e;
    font-size:42px;

}

.categories{

    display:flex;
    gap:8px;
    align-items:center;

}

.search-box{

    flex:1;

    margin:0 30px;

    display:flex;

}

.search-box input{

    width:100%;

    padding:15px;

    border-radius:30px 0 0 30px;

    border:1px solid #ccc;

    outline:none;

}

.search-box button{

    width:60px;

    border:none;

    background:#f1641e;

    color:white;

    border-radius:0 30px 30px 0;

    cursor:pointer;

}

.nav-icons{

    display:flex;

    gap:25px;

    align-items:center;

}

.nav-icons i{

    font-size:20px;
    cursor:pointer;

}

/* ================= MENU ================= */

.menu{

    display:flex;

    justify-content:center;

    gap:40px;

    padding:20px;

    border-top:1px solid #eee;

    border-bottom:1px solid #eee;

}

/* ================= HERO ================= */
.hero{
    display:flex;
    gap:25px;
    padding:40px 60px;
}

.left-banner{
    display:flex;
    flex:2;
    background:#dbe7f6;
    border-radius:18px;
    overflow:hidden;
}

.right-banner{
    flex:1;
    position:relative;
    border-radius:18px;
    overflow:hidden;
}
.text{

    width:50%;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:40px;
}

.image{

    width:50%;

}

.image img{

    width:100%;
    height:100%;
    object-fit:cover;

}

/* ================= FEATURED ================= */

.featured{

    padding:40px 60px;

}

.cards{

    display:flex;

    justify-content:space-between;

    gap:20px;

    flex-wrap:wrap;

}
.card{

    width:23%;

    border-radius:12px;

    overflow:hidden;

    cursor:pointer;

    transition:0.3s;

}

.card img{

    width:100%;

    height:220px;

    object-fit:cover;

}

.card p{

    padding:15px;

    font-weight:600;

}

.card:hover{

    transform:translateY(-8px);

    box-shadow:0 8px 18px rgba(0,0,0,.2);

}



/* ================= FOOTER ================= */

footer{

    background:#f5f5f5;

    margin-top:60px;

}


.footer-container{

    width:90%;
    margin:auto;

    padding:60px 0;

}

.footer-heading h1{

    font-size:48px;

    max-width:550px;

    color:#2f2f2f;

    margin-bottom:50px;

}

.footer-links{

    display:flex;

    justify-content:space-between;

    flex-wrap:wrap;

}

.column{

    display:flex;

    flex-direction:column;

    gap:15px;

}

.column h3{

    margin-bottom:10px;

    font-size:20px;

}

.column a{

    color:#444;

    text-decoration:none;

    transition:.3s;

}

.column a:hover{

    color:#f1641e;

}

.footer-bottom{

    border-top:1px solid #ddd;

    padding:20px 5%;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.social-icons{

    display:flex;

    gap:20px;

}

.social-icons i{

    font-size:22px;

    cursor:pointer;

    transition:.3s;

}

.social-icons i:hover{

    color:#f1641e;

}